EXPO_PUBLIC_SUPABASE_URL=https://eovqhqtsajjbikbhygis.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_z3fhUyDvS28EO8Eo2qWAQA_IaKacllw

# Compatibilidade com ambientes que ainda usam nomes Vite:
VITE_SUPABASE_URL=https://eovqhqtsajjbikbhygis.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_z3fhUyDvS28EO8Eo2qWAQA_IaKacllw
